<div class="card card-inverse-danger" *ngIf="isOffline">
  <div class="card-body">
    <p class="mb-4">
      เกิดข้อผิดพลาดในการเชื่อมต่อกับ Notify Server.
    </p>
    <button class="btn btn-danger" (click)="connectWebSocket()">เชื่อมต่อใหม่ (<strong>
        <countdown [config]="{leftTime: 15, template: '$!s!'}" (finished)="onFinished()" (notify)="onNotify($event)">
        </countdown>
      </strong>)</button>
  </div>
</div>
<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-cast"></i>
    </span>
    เรียกคิวตามแผนก
  </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <span class="h1 text-primary font-weight-bold">{{departmentName || 'กรุณาเลือกแผนก'}}</span>
        &nbsp; | &nbsp;
        <a href="javascript://" (click)="selectDepartment()">
          <span style="font-size: 1.4rem;">เปลี่ยนแผนก</span>
        </a>
      </li>
    </ol>
  </nav>
</div>

<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <span class="h3">รอเรียก
        <label class="badge badge-danger">
          <span class="h3 font-weight-bold">{{queues.length || 0}}</span>
        </label>
      </span>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-1">
              <span>ค้นหา : </span>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" [(ngModel)]="query" name="query" (keyup)="searchQuery()">
            </div>
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-title">คิวปัจจุบัน</h3>
          <table class="table">
            <thead>
              <tr>
                <th>จุดบริการ</th>
                <th>HN</th>
                <th>ชื่อ - สกุล</th>
                <th>ความสำคัญ</th>
                <th>คิวปัจจุบัน</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="queues.length === 0">
                <td colspan="5">ไม่พบรายการ</td>
              </tr>
              <tr *ngFor="let item of queues">
                <td>
                  <span class="h4">{{item.service_point_name}} {{item.room_name}} {{item.room_number}}</span>
                </td>
                <td>
                  <span class="h4">{{item.hn}}</span>
                </td>
                <td>
                  <span class="h4">{{item.title}} {{item.first_name}} {{item.last_name}}</span>
                </td>
                <td>
                  <span class="h4">{{item.priority_name}}</span>
                </td>
                <td>
                  <span class="h3 font-weight-bold text-danger"
                    style="letter-spacing: 2px;">{{item.service_point_prefix}}{{item.priority_prefix}}{{item.queue_number}}</span>
                </td>
                <td>
                  <div class="btn-group">
                    <!-- <button class="btn btn-sm btn-success" (click)="setQueueForCall(item)">เรียกคิว</button> -->
                    <button *ngIf="item.rooms.length > 5" class="btn btn-sm btn-success"
                      (click)="openModalSelectRoom(item)">
                      <span class="h4">
                        เรียกคิว
                      </span>
                    </button>
                    <button *ngIf="item.rooms.length > 1 && item.rooms.length <= 5" class="btn btn-sm btn-success"
                      (click)="setQueueForCall(item)" [ngbPopover]="popContent" popoverTitle="เลือกช่องรับบริการ">
                      <span class="h4">
                        เรียกคิว
                      </span>
                    </button>
                    <button *ngIf="item.rooms.length === 1" class="btn btn-sm btn-success"
                      (click)="setCallDetail(item)">
                      <span class="h4">
                        เรียกคิว
                      </span>
                    </button>
                    <button disabled="disabled" *ngIf="item.rooms.length === 0" class="btn btn-sm btn-success">
                      <span class="h4">
                        เรียกคิว
                      </span>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="showSelectPointForMarkPending(item)">ส่งต่อ</button>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>

          <div *ngIf="queues.length" style="padding-top: 25px;">
            <ngb-pagination class="d-flex justify-content-center" [rotate]="true" [collectionSize]="total"
              [maxSize]="maxSizePage" [boundaryLinks]="true" [pageSize]="pageSize" (pageChange)="onPageChange($event)"
              [(page)]="currentPage" aria-label="pagination"></ngb-pagination>
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <span class="h3">เรียกแล้ว
        <label class="badge badge-danger">
          <span class="h3 font-weight-bold">{{historyItems.length || 0}}</span>
        </label>
      </span>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-1">
              <span>ค้นหา : </span>
            </div>
            <div class="col-md-10">
              <input type="text" class="form-control" [(ngModel)]="query" name="query" (keyup)="searchQuery()">
            </div>
          </div>
        </div>
        <div class="card-body">
          <h3 class="card-title">คิวปัจจุบัน</h3>
          <table class="table">
            <thead>
              <tr>
                <th>จุดบริการ</th>
                <th>HN</th>
                <th>ชื่อ - สกุล</th>
                <th>ความสำคัญ</th>
                <th>คิวปัจจุบัน</th>
                <th>#</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="historyItems.length === 0">
                <td colspan="5">ไม่พบรายการ</td>
              </tr>
              <tr *ngFor="let item of historyItems">
                <td>
                  <span class="h4">{{item.service_point_name}} {{item.room_name}} {{item.room_number}}</span>
                </td>
                <td>
                  <span class="h4">{{item.hn}}</span>
                </td>
                <td>
                  <span class="h4">{{item.title}} {{item.first_name}} {{item.last_name}}</span>
                </td>
                <td>
                  <span class="h4">{{item.priority_name}}</span>
                </td>
                <td>
                  <span class="h3 font-weight-bold text-danger"
                    style="letter-spacing: 2px;">{{item.service_point_prefix}}{{item.priority_prefix}}{{item.queue_number}}</span>
                </td>
                <td>
                  <div class="btn-group">
                    <!-- <button class="btn btn-sm btn-success" (click)="setQueueForCall(item)">เรียกคิว</button> -->
                    <button *ngIf="item.rooms.length > 5" class="btn btn-sm btn-success"
                      (click)="openModalSelectRoom(item)">
                      <span class="h4">
                        เรียกคิว
                      </span>
                    </button>
                    <button *ngIf="item.rooms.length > 1 && item.rooms.length <= 5" class="btn btn-sm btn-success"
                      (click)="setQueueForCall(item)" [ngbPopover]="popContent" popoverTitle="เลือกช่องรับบริการ">
                      <span class="h4">
                        เรียกคิว
                      </span>
                    </button>
                    <button *ngIf="item.rooms.length === 1" class="btn btn-sm btn-success"
                      (click)="setCallDetail(item)">
                      <span class="h4">
                        เรียกคิว
                      </span>
                    </button>
                    <button disabled="disabled" *ngIf="item.rooms.length === 0" class="btn btn-sm btn-success">
                      <span class="h4">
                        เรียกคิว
                      </span>
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="showSelectPointForMarkPending(item)">ส่งต่อ</button>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>

          <div *ngIf="historyItems.length" style="padding-top: 25px;">
            <ngb-pagination class="d-flex justify-content-center" [rotate]="true" [collectionSize]="historyTotal"
              [maxSize]="maxSizePage" [boundaryLinks]="true" [pageSize]="pageSize" (pageChange)="onPageChange($event)"
              [(page)]="currentPage" aria-label="pagination"></ngb-pagination>
          </div>
        </div>
      </div>

    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <span class="h3">ส่งต่อ
        <label class="badge badge-danger">
          <span class="h3 font-weight-bold">{{pendingItems.length || 0}}</span>
        </label>
      </span>
    </ng-template>
    <ng-template ngbTabContent>
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">รายการคิวที่ถูกส่งต่อไปแล้ว</h3>
          <table class="table">
            <thead>
              <tr>
                <th>ช่องบริการ</th>
                <th>HN</th>
                <th>ชื่อ - สกุล</th>
                <th>ความสำคัญ</th>
                <th>คิวปัจจุบัน</th>
                <th>ส่งต่อ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="pendingItems.length === 0">
                <td colspan="5">ไม่พบรายการ</td>
              </tr>
              <tr *ngFor="let item of pendingItems">
                <td>
                  <span class="h4">
                    {{item.service_point_name}}
                  </span>
                </td>
                <td>
                  <span class="h4">{{item.hn}}</span>
                </td>
                <td>
                  <span class="h4">{{item.title}} {{item.first_name}} {{item.last_name}}</span>
                </td>
                <td>
                  <span class="h4">{{item.priority_name}}</span>
                </td>
                <td>
                  <span class="h3 font-weight-bold text-danger"
                    style="letter-spacing: 2px;">{{item.service_point_prefix}}{{item.priority_prefix}}{{item.queue_number}}</span>
                </td>
                <td>
                  <span class="h3">{{item.pending_to_service_point_name}}</span>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>

    </ng-template>
  </ngb-tab>
</ngb-tabset>

<ng-template #popContent>
  <div class="text-center">
    <button *ngFor="let room of rooms" type="button" class="mb-2 btn btn btn-inverse-success btn-rounded btn-fw"
      (click)="prepareQueue(room)">
      <span class="h4">{{room.room_name}}</span>
    </button>
  </div>
</ng-template>


<app-modal-select-department (onSelected)="onSelectedDepartment($event)" #mdlServicePoint></app-modal-select-department>
<app-modal-select-transfer #mdlSelectTransfer [servicePointId]='selectedQueue.service_point_id' [priorityId]='selectedQueue.priority_id' (onSelected)="onSelectedTransfer($event)"></app-modal-select-transfer>
<app-modal-select-room [rooms]="rooms" (onSelected)="onSelectRoom($event)" #mdlSelectRoom></app-modal-select-room>