<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row w-100">
        <div class="col-lg-4 mx-auto">
          <div class="auth-form-light text-left p-5">

            <div class="brand-logo" style="text-align: center;">
              <img src="./assets/images/iconQ4U100.png" style="width: 80px;">
            </div>
            <div style="text-align: center;" *ngIf="hosname">
              <h2>ระบบบริหารจัดการคิว</h2>
              <h3 class="font-weight-light">{{hosname}}</h3>
              <code>version 3.2.5 (build 20190430-1)</code>
            </div>

            <div class="alert alert-warning" role="alert" *ngIf="!hosname">
              กรุณากำหนดค่าการเชื่อมต่อฐานข้อมูล
            </div>

            <form class="pt-3" action="#">
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" name="username" [(ngModel)]="username"
                  id="username" placeholder="Username" autocomplete="off">
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-lg" id="password" [(ngModel)]="password"
                  name="password" placeholder="Password">
              </div>
              <div class="mt-3">
                <button type="submit" [disabled]="!username || !password || !hosname" (click)="doLogin()"
                  class="btn btn-block btn-gradient-success btn-lg font-weight-medium auth-form-btn">
                  เข้าใช้งานระบบ
                </button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
    <!-- content-wrapper ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>