<app-template1 *ngIf="template1"></app-template1>
<app-template2 *ngIf="template2"></app-template2>
<app-template3 *ngIf="template3"></app-template3>
<select [(ngModel)]="template" (change)="changeTemplate($event)">
  <option value="template1">Template 1</option>
  <option value="template2">Template 2</option>
  <option value="template3">Template 3</option>
</select>